<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zhuyajie666.bookmanagesystem.dao.BookIsbnMapper">
  <resultMap id="BaseResultMap" type="io.github.zhuyajie666.bookmanagesystem.entity.BookIsbn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="isbn" jdbcType="VARCHAR" property="isbn" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="is_borrowed" jdbcType="BIT" property="isBorrowed" />

  </resultMap>
</mapper>